.contract-card-col {
	float:left;
	padding-top:4px;
}

.contract-card-service-col {
	width:20%;
}
.contract-card-supplier-col {
	width:20%;
}
.contract-card-commencement-col {
	width:10%;
}
.contract-card-expiry-col {
	width:10%;
}
.contract-card-amount-col {
	width:20%;
}
.contract-card-amount-subcol {
	width:33%;
}
.contract-card-supplierexecuted-col {
	width:10%;
	text-align: center;
}
.contract-card-clientexecuted-col {
	width:10%;
	text-align: center;
}