.chart-legend
{
    padding: 0;

    list-style: none;
}

.chart-legend li
{
    float: left;
}

.chart-legend span
{
    display: inline-block;
    float: left;

    width: 30px;
    height: 13px;
    margin: 2px;

    border: 1px solid #bbb;
}
