/*
 *
 *   INSPINIA - Responsive Admin Theme
 *   Meteor version
 *   version 2.3
 *
*/

// Google Fonts
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

// Variables, Mixins
@import "globals/variables.import.less";
@import "globals/mixins.import.less";

// INSPINIA Theme Elements
@import "globals/typography.import.less";
@import "globals/navigation.import.less";
@import "globals/top_navigation.import.less";
@import "globals/buttons.import.less";
@import "globals/badgets_labels.import.less";
@import "globals/elements.import.less";
@import "globals/sidebar.import.less";
@import "globals/base.import.less";
@import "globals/pages.import.less";
@import "globals/chat.import.less";
@import "globals/metismenu.import.less";
@import "globals/spinners.import.less";

// Landing page
@import "globals/landing.import.less";

// RTL Support
@import "globals/rtl.import.less";

// For demo only - config box style
@import "globals/theme-config.import.less";

// INSPINIA Skins
@import "globals/skins.import.less";
@import "globals/md-skin.import.less";

// Media query style
@import "globals/media.import.less";

// Custom style
// Your custom style to override base style
@import "globals/custom.import.less";



body.md-skin {
	background-color:#CED7E0;
}

.inline-form-control {
	margin:0;
	padding:0;
	border:none;
	font-family:inherit;
	font-size:inherit;
	width:100%;
	outline:none;
	background:transparent;
	background-color:transparent;
	resize:none;
	overflow:hidden;
	color:#333;
}

.panel.panel-default {
	border-radius:0px;
	margin:2px 10px;
}

textarea.inline-form-control {
	margin-top:2px;
}

.landing-page .navbar.navbar-scroll .navbar-brand.navbar-brand-fm {
	font-weight:100;
	letter-spacing:2px;
	font-size:20px;
	background:transparent;
	color:#000;
}

.landing-page .navbar-default .navbar-brand.navbar-brand-fm {
	font-weight:100;
	letter-spacing:2px;
	padding:30px 0 0 0;
	font-size:20px;
	background:transparent;

	background-color:rgba(0,0,0,0.7);
	padding:8px 5px;
	border-radius:5px;
	margin-top:15px;
}

.fm-title-fm {
	border-radius:1px;
	padding-left:3px;
	margin-right:4px;
	background:rgba(255,255,255,1.0);
	font-weight:bold;
	color:#444;
}

.navbar-scroll .fm-title-fm {
	border-radius:1px;
	padding-left:2px;
	padding-right:1px;
	margin-right:3px;
	letter-spacing:0px;
	background:#444;
	font-weight:bold;
	color:#fff;
}

.dialog {
	background-color: #ECF0F3;
	border: 1px solid #9CACBC;
	border-radius:6px;
	-webkit-box-shadow: inset 0px -2px 2px rgba(0,0,0,0.1);
	padding:15px;
}

.navbar-header.navbar-logo {
	overflow:hidden;
	min-width:50px;
	width:208px;
}

.navbar-header.navbar-logo > img {
	float:left;
	margin:6px 18px;
}

ul#side-menu {
	margin-top:10px;
}

.secondary-nav {
	text-transform:uppercase;
	float:left;
	margin:0;
	padding:0;
}

.secondary-nav > li {
	float:left;
	list-style:none;
	padding:0;
	padding-right:5px;
	margin-left:5px;
	border-right:1px solid #bbb;
}

.breadcrumb {
	text-transform:uppercase;
}

.breadcrumb .active {
	font-weight:bold;
}

#side-menu i.fa {
	font-size:20px;
}

#side-menu a {
	padding-left:23px;
}

.md-skin .nav > li > a {
	white-space:nowrap;
}

#side-menu.nav > li.active > a {
	color:#000;
	background-color:transparent;
	padding-left:19px;
}

.md-skin.fixed-sidebar.mini-navbar #page-wrapper {
    margin: 0 0 0 70px;
}

body.fixed-sidebar.mini-navbar .nav-label, body.fixed-sidebar.mini-navbar .navbar-default .nav li a span {
    opacity:0;
    background-color:#fff;
}

body.fixed-nav #wrapper .navbar-static-side {
	overflow:hidden;
	position:fixed;
	background-color:#fff;
}

.md-skin.fixed-sidebar.mini-navbar .navbar-static-side {
	width:70px;
}

.md-skin .gradient-bg {
	background-image:none;
}

.navbar-top-links li:last-child {
	margin-right:20px;
}

body.fixed-nav #wrapper .navbar-static-side {
	padding-top:5px;
}

body.fixed-nav #wrapper .navbar-static-side,
body.fixed-nav #wrapper #page-wrapper {
	margin-top:55px;
}