.animated.modal.fade .modal-dialog {
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

.modal {
    position: fixed;
    z-index: 1499;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    overflow-y: auto;
    text-align: center;
    div.modal-wrapper {
        position: relative;
        display: inline-block;
        margin-top: 60px;
        text-align: left;

        @media (max-width: 768px) {
            width: 100%;
            margin-top: 0px;
            padding-top: 50px;
        }   


    }
    &.fade .modal-dialog {
        transition: transform .3s ease-out;
        transform: translate(0, -25%);
    }
    &.fade.in {
        opacity: 1;
    }
    &.fade:not(.in) .modal-dialog {
        transform: translate3d(125%, 0, 0);
    }
    &.in .modal-dialog {
        transform: translate(0, 0);
    }
}

.modal-header {
    min-width: 50px;
    max-width: 100%;
    border: 1px rgba(0, 0, 0, .2);
    background: #01a68f;
}


.modal-backdrop {
    position: fixed;
    z-index: 1498;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: rgba(0, 0, 0, .4);
    &.fade {
        opacity: 0;
    }
    &.in {
        opacity: 1;
    }

    @media ( max-width: 768px ) {
        background: #fff;        
    }

}

.modal-dialog {
    display: none;
    &:last-child {
        display: block;
    }
}

.modal-body {

    position: relative;
    /*min-width: 475px;*/
    max-width: 800px;
    border: 1px rgba(0, 0, 0, .2);

    @media (min-width: 768px) {  
        background: #fff;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }

    @media (max-width: 768px) {
        width:100%;
    }
}

.tools-icon {
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    z-index: 1499;
    top: 0;
    right: 4px;
    padding: 10px;
    color: #ccc;
}