/* ---- isotope ---- */

.isotope {
}

/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  position: relative;
  left:10px;
  right:10px;
  width:auto;
  margin-left:10px;
  margin-top:1px;
  height: 100px;
  padding: 10px;
  background: #888;
  color: #262524;
}

.grid-item-order {
  background:#fff;
  height:auto;
}

.grid-item.pre-gigante {
  z-index:5000;
}

.grid-item.gigante {
  height:600px;
  z-index:5000;
  width:100%;
  margin:10px 0 20px 0;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.grid-item > * {
  margin: 0;
  padding: 0;
}

.grid-item .name {
  position: absolute;

  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}

.grid-item .symbol {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.grid-item .number {
  position: absolute;
  right: 8px;
  top: 5px;
}

.grid-item .weight {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px;
}

.grid-item.alkali          { background: #F00; background: hsl(   0, 100%, 50%); }
.grid-item.alkaline-earth  { background: #F80; background: hsl(  36, 100%, 50%); }
.grid-item.lanthanoid      { background: #FF0; background: hsl(  72, 100%, 50%); }
.grid-item.actinoid        { background: #0F0; background: hsl( 108, 100%, 50%); }
.grid-item.transition      { background: #0F8; background: hsl( 144, 100%, 50%); }
.grid-item.post-transition { background: #0FF; background: hsl( 180, 100%, 50%); }
.grid-item.metalloid       { background: #08F; background: hsl( 216, 100%, 50%); }
.grid-item.diatomic        { background: #00F; background: hsl( 252, 100%, 50%); }
.grid-item.halogen         { background: #F0F; background: hsl( 288, 100%, 50%); }
.grid-item.noble-gas       { background: #F08; background: hsl( 324, 100%, 50%); }

.grid-item.grid-item-order { background: #fff;}