.isotope {
  margin-right:-20px;
  margin-left:-20px;
  background-color:#ddd;
}

.grid-item {
  padding: 10px;
  background: #fff;
  color: #262524;
  border-left:5px solid #ccc;
  border-top:1px solid #ccc;
  overflow:hidden;
}

.grid-item.pre-gigante {
  z-index:5000;
}

.grid-item.gigante {
  background:#FFFBCC;;
  height:600px;
  z-index:5000;
  width:100%;
  margin:0 0 10px 0;
  border-left-width: 0;
  box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.2);
}

.card-table-header {
  background-color:#fff;
  font-weight: bold;
  overflow:hidden;
  padding-left:15px;
  padding-right:15px;
  font-size:smaller;
  border-left:5px solid #aaa;
}

.grid-item.gigante:hover {
    background:#FFFBCC;
}

.grid-item:hover {
    background:#eee;
}

.card-header {
  overflow:hidden;
}
.card-body {
  overflow:hidden;
  position:absolute;
  left:0;
  right:0;
  border-top:1px solid #ddd;
  padding:10px;
  background-color:#fff;
  height:100%;
  margin-top:10px;
  display:none;
}

.pre-gigante .card-body,.gigante .card-body {
  display:block;
}

.grid-item.alkali          { background: #F00; background: hsl(   0, 100%, 50%); }
.grid-item.alkaline-earth  { background: #F80; background: hsl(  36, 100%, 50%); }
.grid-item.lanthanoid      { background: #FF0; background: hsl(  72, 100%, 50%); }
.grid-item.actinoid        { background: #0F0; background: hsl( 108, 100%, 50%); }
.grid-item.transition      { background: #0F8; background: hsl( 144, 100%, 50%); }
.grid-item.post-transition { background: #0FF; background: hsl( 180, 100%, 50%); }
.grid-item.metalloid       { background: #08F; background: hsl( 216, 100%, 50%); }
.grid-item.diatomic        { background: #00F; background: hsl( 252, 100%, 50%); }
.grid-item.halogen         { background: #F0F; background: hsl( 288, 100%, 50%); }
.grid-item.noble-gas       { background: #F08; background: hsl( 324, 100%, 50%); }

.grid-item.grid-item-order { background: #fff;}