.super-select.absolute {
	position:absolute;
	width:96%;
}

.super-select.absolute .dropdown-menu {
	width:250px;
	overflow-y:auto;
	top:18px;
}

.super-select .browse-button {
	font-weight:bold;
	text-align: center;
}