.contact-list-item {
	overflow: hidden;
}

.contact-card-2line {
	text-align:left;
	white-space: nowrap;
}

.contact-card-2line-text {
	display:inline-block;
	padding:3px 0;
	white-space:nowrap;
	line-height: 15px;
}

.contact-card-2line-avatar {
	display:inline-block;
}

.contact-card-avatar {
	float:left;
	margin-right:3px;
	width:35px;
	height:35px;
	overflow: hidden;
	border-radius: 50%;
}
.contact-card-avatar > div {
	width:35px;
	height:35px;
	border-radius:50%;
	background-color:#ccc;
}

.business-card {
	position:relative;
	overflow:hidden;
 	color:#000;
 	opacity:1;
 	height:100%;
}

.business-card.small h2 {
	font-size:1.8em;
}

.business-card.small {
	padding:5px;
	font-size:0.8em;
}

.business-card-style-1 {

}

.business-card h2 {
	/*font-weight:bold;*/
}

.business-card .contact-thumbnail {
	float:left;
	width:48%;
	min-height:200px;
	position:relative;
}

.business-card .contact-thumbnail > img {
	width:100%;
}

.business-card .contact-info {
	text-align: right;
	overflow: hidden;
	width:50%;
	padding-top:40px;
	float:left;
	padding-left:5px;
}

.business-card.small .contact-info {
	padding-top:10px;
}