.animated.modal.fade .modal-dialog {
  -ms-transform:none;
  -o-transform:none;
  -webkit-transform:none;
  transform:none;
}

.modal {
  display:none;
  text-align:center;
  position:fixed;
  left:0;
  right:0;
  bottom:0;
  top:0;
  z-index:1501;

  div.modal-wrapper {
    display:inline-block;
    text-align:left;
    position:relative;
    margin-top:60px;
  }

  &.fade .modal-dialog {
    transform:translate(0,-25%);
    transition:transform .3s ease-out;
  }

  &.fade.in {
    opacity:1;
  }

  &.fade:not(.in) .modal-dialog {
    transform:translate3d(125%,0,0);
  }

  &.in .modal-dialog {
    transform:translate(0,0);
  }

}

.modal-backdrop {
  background:rgba(0,0,0,0.4);
  position:fixed;
  left:0;
  right:0;
  bottom:0;
  top:0;

  z-index:1500;

  &.fade {
    opacity:0;
  }

  &.in {
    opacity:1;
  }  
}

.modal-dialog {
  display:none;
  &:last-child {
    display:block;
  }
}

.modal-body {
  position:relative;
  max-width:800px;
  min-width:475px;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);  
  border:1px rgba(0,0,0,0.2);
}

.tools-icon {
  right:22px;
  color:#ccc;
  font-size:15px;
  padding:6px;
  position:absolute;
  right:2px;
  top:0;
}