.md-skin .filter-box-2.ibox {
	background-color:#fff;
}

.card-header-summary {
	cursor:pointer;
}

.md-skin .filter-box-2.ibox > .ibox-title {
	background-color: transparent;
}

.filter-box-2-detail-pane .card-body {
	padding-top:10px;
}

.table-row:last-child > .grid-item {
	border-bottom:none;
}

.md-skin .filter-box-2.ibox > .ibox-title {
	border-bottom:1px solid #ddd;
	padding:0;
}

@media (min-width: 768px) {
	.filter-box-nav-col {
		position:fixed;
		width:285px;
		bottom:0px;
		top:65px;
	}

	.filter-box-content-col {
		position:absolute;
		left:315px;
		right:15px;
		width:auto;
	}
}

@media (max-width: 768px) {
	.filter-box-content-col,.filter-box-nav-col {
		position:absolute;
		width:auto;
		left:0;
		right:0;
	}
}