@default: 	#aaaaaa;
@valid: 	#0152b5;
@focus: 	#0152b5;
@border: 	#dddddd;
@invalid: 	#dd2c00;

.md-input { 
  	position:			relative; 
  	margin:				36px 0 0 0;
  	display:			inline-block; 
  	width:				100%;
  	padding-bottom:		9px;
  	outline:			none;

	label {
	  color:				#aaa; 
	  font-size:			13px;
	  font-weight:			normal;
	  position:				absolute;
	  pointer-events:		none;
	  top:					5px;
	  transition:			0.2s ease all;
	}

	.highlight {
  		position:			absolute;
  		height:				60%; 
  		width:				100px; 
  		top:				25%; 
  		left:				0;
  		pointer-events:		none;
  		transition:			0.2s ease all;
  		opacity:			0.5;
	}

	.helper-text {
		visibility:			hidden;
		font-size:			11px;
		color:				#aaa;
		position:			absolute;
		height:				15px;
		bottom:				-9px;
		left:				1px;
	}

	.input {
  		color:				#333;
  		font-weight:		400;
  		font-size:			13px;
  		padding:			4px 0 7px 0;
  		display:			block;
  		width:				100%;
  		border:				none;
  		border-bottom:		1px solid @border;
  		background-color: 	transparent;
  		min-height:			27px;

		&.used {
			~ label {
  				top:				-12px;
  				font-size:	 		11px;
  				color: 				@default;
  			}
		}

		&:focus,
		&.focus {
			outline:			none;

			~ label {
  				top:				-12px;
  				font-size:			11px;
  				color:				@focus;
			}

			~ .helper-text {
				visibility:			visible;
			}

			~ .bar:before,
			~ .bar:after {
  				width:				50%;
			}

			~ .highlight {
 				-webkit-animation:	inputHighlighter 0.3s ease;
			}
		}

		&:valid,
		&.valid { 
			border-bottom: 		1px solid @border;

			~ .bar:before,
			~ .bar:after {
		  		background: 		@valid !important;
		  	}

			.used ~ label {
  				color: 				@valid;
			}

			~ .hightlight {
				-webkit-animation:	validHighlighter 0.3s ease;
			}
		}

		&:invalid,
		&.invalid {
			border-bottom: 		1px solid @border;

			~ .bar:before,
			~ .bar:after {
  				width:				50%;
		  		background: 		@invalid !important;
		  	}

			~ .helper-text {
				visibility:			visible;
				color:				@invalid;
			}

			~ label ,
			.used ~ label {
  				color: 				@invalid;
			}

			~ .hightlight {
				-webkit-animation:	invalidHighlighter 0.3s ease;
			}
		}
	}

	.bar {
		position:			relative;
		display:			block;
		width:				100%; 

		&:before, &:after {
			content:			'';
			height:				2px;
			width:				0;
			bottom:				1px; 
			position:			absolute;
			background:			@focus; 
			transition:			0.2s ease all;				
		}

		&:before {
			left:				50%;
		}

		&:after {
			right:				50%; 
		}
	}
}

.md-input.disabled {
	.input {
		border-bottom:	1px dashed #ddd;
		color:			#ddd;
	}
	label{
		color:			#ddd;
	}
}


/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:@focus; }
  	to 	{ width:0; background:transparent; }
}

@-webkit-keyframes validHighlighter {
	from { background:@valid !important; }
  	to 	{ width:0; background:transparent; }
}

@-webkit-keyframes invalidHighlighter {
	from { background:@invalid !important; }
  	to 	{ width:0; background:transparent; }
}

td .md-input {
  margin:0;
}

td .md-input > .input {
	padding:10px;
	border:none;
}

td .md-input .dropdown-menu {
  top:36px;
}

td .md-input > label {
  display:none;
}
