.contact-card-2line {
	text-align:left;
}

.contact-card-2line-text {
	padding:3px;
	white-space:nowrap;
	line-height: 15px;
}

.contact-card-avatar {
	float:left;
	padding-right:3px;
}
.contact-card-avatar img {
	border-radius: 50%;
	width:35px;
}

.contacts-page .grid-item {
	background: none;
	box-shadow: none;
	border:none;
}

.contacts-page .grid-item:hover .card-header {
	background:transparent;
}

.business-card {
	padding:10px;
	position:relative;
	background-color:#fff;
	overflow:hidden;
 	color:#000;
 	opacity:1;
 	height:100%;
}

.business-card.small h2 {
	font-size:1.8em;
}

.business-card.small {
	padding:5px;
	font-size:0.8em;
}

.business-card-style-1 {

}

.business-card h2 {
	font-weight:bold;
}

.business-card .contact-thumbnail {
	float:left;
	width:48%;
	min-height:200px;
	position:relative;
}

.business-card .contact-thumbnail > img {
	width:100%;
}

.business-card .contact-info {
	text-align: right;
	overflow: hidden;
	width:50%;
	padding-top:40px;
	float:left;
	padding-left:5px;
}

.business-card.small .contact-info {
	padding-top:10px;
}