.grid-item
{
	overflow: hidden;

	max-height: 51px;
	padding: 0;

	transition: max-height .250s, margin-top .250s, margin-bottom .250s;
	transition-timing-function: ease-in-out;

	color: #262524;
	border-bottom: 1px solid #ddd;
	background: #fff;
}

.card-table-header
{
	font-size: 12px;
	font-weight: bold;

	overflow: hidden;

	height: 48px;
	padding-top: 16px;
	padding-right: 5px;
	padding-left: 5px;

	color: #999;
	border-top: 1px solid #ddd;
	background-color: #fff;
	div
	{
		padding: 0;

		text-align: left;
	}
	.sort-button
	{
		font-size: 20px;

		position: relative;
		left: 5px;

		float: left;
		clear: both;

		border: none;
	}
}

.grid-item:hover .card-header,
.grid-item.active .card-header
{
	background: #eee;
}

.grid-item.active:hover .card-header
{
	background: #eee;
}
